.review-item {
  border: 1px solid #95a0a7;
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.review-item img {
  width: 90px;
  height: 90px;
  border-radius: 6px;
}
.review-details {
  flex-grow: 1;
}
.review-details p {
  margin: 0 15px;
}
.title {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.0015em;

  color: #1c2b35;
}
.gold-text {
  color: #ff9900;
}
.btn-delete{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(235, 87, 87, 0.3);
}
.delete-icon{
    font-size: 25px;
    color: #EB5757;
}
